
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

/* Agregamos estilos al header  */
header{   
    background-color: black;
    color: white;
    text-align: center;   
    width: 100%;
    
}
/* Agregamos imagen de fondo en el body */
body{
    background-image:url('../assets/img/sunny-day.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* damos estilos a todos las imagenes  */
img{
    margin-top: 35%;
    margin-left: 30%;
    display: block;
    width: 450px;
    height: 400px;
}

/* la imagen del contenedor medium se mostrara  */
 .container-medium img {    
    display: block;
 } 
   
  /* la imagen del contenedor large y small se ocultaran  */
.container-large img ,.container-small img {   
    display: none;
}

/* Llamaremos a la segunda imagen de fondo y ocultaremos las imagenes del contenedor large y small */
@media screen and (max-width: 1000px) {
   .medium{
       background-image:url('../assets/img/dawn.png');                      
    }

  .container-large img{
     display: block;
      width: 550px;
   }  

   .container-medium img, .container-small img{
    display: none;
   }
 }

/* Llamaremos a la tercera imagen de fondo y ocultaremos las imagenes del contenedor medium y large */
 @media screen and (max-width:700px){

  .small{
     background-image:url('../assets/img/night.jpg');     
  } 

  .container-small img{
    display: block;    
   }  

   .container-large img, .container-medium img{
    display: none;
   }

 }

