
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

body{
    background-image:url('../assets/img/sunny-day.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
   
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
}